# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a package using Gradle and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#Publishing-using-gradle

name: Build & Publish

on:
  push:
    paths:
      - "src/**"
      - "build.gradle"
      - "settings.gradle"
      - ".github/workflows/publish.yml"
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Grant execute permission for Gradle
        run: chmod +x gradlew

      - name: Build JAR
        run: ./gradlew clean build -x test

      - name: Upload artifact (JAR)
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: build/libs/*.jar

  publish-maven:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Grant execute permission for Gradle
        run: chmod +x gradlew   #  FIX tại đây

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Download JAR artifact
        uses: actions/download-artifact@v4
        with:
          name: app-jar
          path: build/libs

      - name: Publish to GitHub Packages
        env:
          GPR_USER: ${{ github.actor }}
          GPR_KEY: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew publish

  publish-ghcr:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Log in to GHCR
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Download artifact (JAR)
        uses: actions/download-artifact@v4
        with:
          name: app-jar
          path: .

      - name: Grant execute permission for Gradle
        run: chmod +x gradlew   #  nếu bạn build Docker dùng gradlew, thêm tại đây

      - name: Build Docker image
        run: |
          TAG=$(date +'%d-%m-%Y_%H-%M-%S')
          IMAGE=ghcr.io/${{ github.repository }}/springboot-gradle:$TAG
          echo "IMAGE=$IMAGE" >> $GITHUB_ENV
          docker build -t $IMAGE .

      - name: Push Docker image
        run: docker push $IMAGE

